body {font-family: Helvetica; padding: 1em;}
img.spinner {height: 1em;}
.search-field {width: 60%;}
a.block {display: block;}
.character-description {font-family: serif;}
a.character-concept {margin: 1em; font-size: small;}
a.OWLProperty {font-style: italic;}
.state-annotation {font-size: small; margin-left: 2em; color: black; background-color: #ccc; border: 1px solid #808080; padding: 0.5em; display: inline-block;}
.focal-facet-item {font-weight: bold;}

#facets {width: 30%; float: left; font-size: small;}
#characters, #states {width: 69%; padding-left: 30%;}
.facet {margin-bottom: 2em;}

.matches {border: 1px solid #999; border-radius: 20px; padding: 0.5em; margin: 2em;}
.matches a {margin: 1em; line-height: 150%; }
#data_links {border: 1px solid #999; border-radius: 20px; padding: 0.5em; margin: 2em; float: right;}

#queries {clear: both;}
#footer {clear: both;}

.link-listing a {margin: 0 0.5em;}