<% rdf.prefix("rdf", "http://www.w3.org/1999/02/22-rdf-syntax-ns#") %>
<% rdf.prefix("rdfs", "http://www.w3.org/2000/01/rdf-schema#") %>
<% rdf.prefix("owl", "http://www.w3.org/2002/07/owl#") %>

<p class="state-annotation">
<i>denotes only</i><br><br>
<% var phenotypes = rdf.where("?p rdfs:subClassOf ?restriction").filter(function () { return this.restriction.type === "bnode"; }).select(["restriction"]); %>
<%= ((phenotypes.length > 0) ? (owl.class_expression(phenotypes.pop()["restriction"], rdf).html_manchester_syntax()) : "not annotated") %>
</p>
