<% var iriID = partials.nextID() %>

<% // The iri can be either a real IRI or "any" %>
<div class="facet-item" data-iri="<%= iri %>"><span id="<%= iriID %>" class="facet-item-link"></span> (<span class="facet-item-count"><%= count %></span>)<div class="facet-children"></div></div>

<script>
(function () {
var iri = '<%= iri %>';
if (iri === "any") {
	$("#<%= iriID %>").html("Any");
} else {
	$("#<%= iriID %>").html('<img class="spinner" src="/images/rotation.gif">');
	partials.render_template("/shared/label.rq", {iris: [iri]}, function (query) {
		sparql.select(query, config.endpoint, function (json) {
			var label = iri;
			if (json.results.bindings.length > 0) {
				label = json.results.bindings[0].label.value;
			}
			partials.load_partial("#<%= iriID %>", "/facets/_facet_item_link.html", {iri: iri, label: label});
		}); 
	});
}
})();
</script>