<% var statesID = nextID() %>
<% var conceptsID = nextID() %>

<p class="character-description"><%= character_label.value %></p>
<div class="states-for-character" id="<%= statesID %>" style="margin-left: 3em; color: gray">
	<img class="spinner" src="/images/rotation.gif">
</div>
<div class="character-concepts" id="<%= conceptsID %>">
	<img class="spinner" src="/images/rotation.gif">
</div>


<script>
partials.render_template("./states_for_character.rq", {character:"<%= character.value %>", limit:20}, function (query) { 
	sparql.select(query, config.endpoint, function (sparql_json) {			
			partials.load_partial_each("#<%= statesID %>", "./_character_state.html", sparql_json.results.bindings);
	}); 
});
partials.render_template("./concepts_for_character.rq", {character:"<%= character.value %>"}, function (query) { 
	sparql.select(query, config.endpoint, function (sparql_json) {			
			partials.load_partial_each("#<%= conceptsID %>", "./_character_concept.html", sparql_json.results.bindings);
	}); 
});
</script>